<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Munchies</title>
</head>
<body>
    <a href="{% url 'dwitter:dashboard' %} ">
        <section >
            <div class="hero-body">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/fNtm4mQ/logo-header.png" alt="logo-header" border="0"></a>                <p class="subtitle is-4">
                    

            </div>
        </section>
        </a>

    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
</body>
</html>